/* Background Color */
body {
    background-color: #FFF5E1;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}



/* Banner */
.banner {
    background-color: #FFC0CB;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('../imagenes/bg/portada2.jpg') repeat center;
    opacity: 0.3;
    z-index: -1;
}

.bloqueSolo{
    display: inline-block !important;
    background-color: rgba(255, 245, 225, 0.7) !important;
    padding: 10px 20px;
    border-radius: 15px;
    color: #5D4037;
}

.bannerLogin {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 10px;
}
@media (max-width: 768px) {
    .iconTitle {
        gap: 10px;
        transform: scale(0.9);
    }
    .iconTitle img {
        width: auto;
        height: 40px;
    }
    .iconTitle h1 {
        font-size: 1.2rem;
    }
}


#logoMain {
    height: 100px;
    border: 3px solid #FFF5E1;
    border-radius: 50%;
}

.divNav {
    background-color: rgba(255, 245, 225, 0.8);
    border: 2px solid #5D4037;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.divNav::before{
    opacity: 0.3;
}

.navbar a:hover {
    color: #FFC0CB !important;
}


/* Texto */
h1 {
    white-space: nowrap;
}

.tPrin {
    color: #5D4037;
    font-family: 'Lato';
    text-align: center;
}
.tPrinTitle {
    margin-top: 5px;
    color: #5D4037;
    font-family: 'Lato';
    font-size: 24px;
}

.tSec {
    color: #fcf3e3;
    color: #5D4037;
    font-family: 'Pacifico';
}

/* Main */
main {
    padding: 5dvh;
}

main {
    margin: 0;
    min-height: 100dvh;
    position: relative; /* necesario para el pseudo-elemento */
    font-family: Arial, sans-serif;
}

main::before {
    content: "";
    position: fixed; /* se queda fija como fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagenes/bg/dulces\ chilenos.jpeg) no-repeat center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}



.cuadroVisMis {
    background-color: #FFC0CB;
    border: 2px solid #5D4037;
    border-radius: 30px;
}

/* Imagenes Banner Pasteles en el Main */
#bannerHori {
    display: none;
    height: 150px;
    border: 2px solid #5D4037;
}
#bannerVert {
    height: 500px;
    border: 2px solid #5D4037;
}
@media (max-width: 991.98px) {
    #bannerVert {
        display: none;
    }
    #bannerHori {
        display: block;
        margin: 0 auto;
    }
}

/* Pie de pagina */
footer {
        background-color: pink;
        text-align: center;
        padding: 15px;
        color: #4b2e2e;
        font-size: 18px;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

footer::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('../imagenes/bg/portada2.jpg') repeat center;
    opacity: 0.3;
    z-index: -1;
}

    footer a {
        margin: 0 8px;
        text-decoration: none;
        font-size: 20px;
    }


.rrss {
    display: inline;
}

#logoRRSS {
    height: 50px;
    border-radius: 50%;
}

/* Botones */
.btn-dark {
    background-color: #fcf3e3;
    color: #5D4037;
}

.btnBanner {
    display: flex;
    justify-content: flex-end;
}

